h1{
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 200px;
    justify-content: center;
    margin: auto;
    color: white;
}
h2{ 
    display: flex;
    justify-content: center;
    width: 100px;
    margin: auto;
    color: red;
}
body{
    background-color: orangered;
}
p{
    margin: 2em;
    text-align: center;
    font-size: 40px;
    color: white;
}